{% extends "layout.html" %}
{% from "macros/read.html" import get_read_icon, get_read_link, get_read_header %}
{% block title %}{{ (this.title ~ ' | ') if this.title != 'Documentation' }}Documentation{% endblock %}

{% block body %}
  <div class="read-container">
    <div class="read-navbar">
    <div class="toc">目 录</div>
      <ul class="tree-nav nocontent">
<!--         <li{% if this._path == '/read' %} class="active"{% endif
          %}><a href="{{ '/read'|url }}">Welcome</a></li> -->
        {% set docs = site.get('/read') %}
        {% for child in docs.children recursive %}
          <li{% if this._path == child._path %} class="active"{% endif
              %}>{{ get_read_link(child) }}
            <ul>{{ loop(child.children) }}</ul>
        {% endfor %}
      </ul>

      {% if this.body.toc %}
      <div class="visible-md-block visible-lg-block">
        <h4>This Page</h4>
        <ul class="toc">
        {% for item in this.body.toc recursive %}
          <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{%
           if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}</li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <div class="read-content">

      {{ this.body }}

      {% if this.children %}
      <div class="child-pages nocontent">
        {% for cols in this.children|batch(2) %}
          <div class="row">
            {% for page in cols if page %}
            <div class="col-md-6 child">
              {% if page.summary %}
                <p class="summary">{{ page.summary }}</p>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      {% endif %}

     <div class="pagination">
      {% if this.has_prev() %}
        <a href="{{ this.get_siblings().prev_page|url }}">&laquo;{{ this.get_siblings().prev_page.title }}</a>
      {% else %}
        <span class="disabled">&laquo;</span>
      {% endif %}
      | <!-- <strong>{{ this.page }}</strong> — -->
      {% if this.has_next() %}
        <a href="{{ this.get_siblings().next_page|url }}">{{ this.get_siblings().next_page.title }}&raquo;</a>
      {% else %}
        <span class="disabled">&raquo;</span>
      {% endif %}
    </div>
    </div>
  </div>
{% endblock %}